<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Логово батраков</title>
</head>
<body>
    <header class="header">
        <div class="sect">
            <div class="header__inner">
                <div class="header__text">Моя жизнь принадлежит Орде! ©</div>

                <nav class="nav">
                    <a class="nav-link active night" href="/">Главная</a>
                    <a class="nav-link night" href="/blog">Бородатый блог</a>
                    <a class="nav-link night" href="/challonge">Турниры</a>
                    <a class="nav-link night" href="/about-us">О нас</a>
                    <a class="nav-link night" href="/donations">Поддержка</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="container">
                <h2 style="color: brown">Пользовательское соглашение</h2>

                    <p>Lorem ipsum sec mundus ingardium leviosa en nomenas patreas etfillam amen</p>
        </div>
    </div>

    <footer class="footer">
        <div class="sect2">
            <div class="footer__inner">
                <p class="footer__text">©2020 Unicorn Studio. Взаимодействуя с этой страницей, Вы принимаете условия
                    <a href="/license" class="night">пользовательского соглашения.</a></p>
            </div>
        </div>
    </footer>
</body>
</html>