<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">Моя жизнь принадлежит Орде! ©</div>

            <nav class="nav">
                <a class="nav-link active" href="/">Главная</a>
                <a class="nav-link" href="/blog">Бородатый блог</a>
                <a class="nav-link" href="/challonge">Турниры</a>
                <a class="nav-link" href="/about-us">О нас</a>
                <a class="nav-link" href="/donations">Поддержка</a>
            </nav>
        </div>
    </div>
</header>